.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 20px;
  height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  overflow: hidden;

}



@media (max-width: 768px) {
  .main{
    flex-direction: column;
    gap: 0px;

  }
}


@media (max-width: 420px) {
  .main{
  
  flex-direction: column;
  gap: 0px;


}}