.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 20px;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  overflow: hidden;
}

@media (max-width: 992px) {
  .main {
    flex-direction: column;
    gap: 0px;
  }
}

body .active {
  background-color: #555;
  color: white;
}
