.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.829);
  overflow: hidden;

}



@media (max-width: 768px) {
  .main{
    flex-direction: column;
  }
}


@media (max-width: 420px) {
  .main{
  
  flex-direction: column;

}}